<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous"> 

</head>

<body>
    <!-- header -->
    <div class="header">
        <!-- upper header -->
        <app-top-header></app-top-header>

        <!-- middle header -->
        <app-header></app-header>

        <!-- lower header -->
        <app-navbar></app-navbar>

    </div>
    




    <!-- footer -->
    <div class="footer">
        <!-- subscription -->
        <div></div>
        <!-- menu -->
        <div></div>
        <!-- contact info -->
        <div></div>
    </div>
</body>

</html>

<router-outlet></router-outlet>
